.problems {
  height: calc(100% - 50px);
  opacity: 0; /* framer-motion bug */
  padding: 10px;
}

.problems__selector {
  background: linear-gradient(to bottom, #262626, black);
  border: 1px solid #262626;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.problems__label {
  margin: 0px 10px;
}

.problems_flex {
  background: rgba(0, 255, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.problems__flexitem {
  margin: 10px;
}
