.home {
  opacity: 0;
}

.home .title {
  margin-bottom: 50px;
}

.home .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home img {
  width: 350px;
  margin: 10px;
  border-radius: 5px;
  transition: all 0.5s;
  border: 0 25px;
}

.home .content {
  width: 350px;
  margin: 10px 25px;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.5s;
  text-align: justify;
}

.home .content h2 {
  margin-top: 0px;
}
