.dropdown {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.dropdown .toggle {
  width: 100%;
  background: linear-gradient(to bottom, #262626, black);
  padding: 6px 12px;
  color: white;
  border: 1px solid #262626;
  border-radius: 5px;
  outline: none; /*? Prevent focus blue over item */
  font-size: 16px;
  cursor: pointer;
}

.dropdown .toggle:active {
  opacity: 0.5;
}

.dropdown .menu {
  position: absolute;
  list-style: none;
  padding: 0;
  left: 0;
  margin: 0;
  background: linear-gradient(to top, #262626, black);
  border-left: 1px solid #262626;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;
  width: -webkit-fill-available;
  z-index: 100;
}

.dropdown .item {
  width: fit-content;
  background: transparent;
  padding: 6px 12px;
  color: white;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.dropdown .item:active {
  opacity: 0.5;
}

.dropdown .arrow {
  bottom: 2px;
  display: inline;
  font-size: 8px;
  left: 2px;
  position: relative;
}
