.navbar {
  background: linear-gradient(to bottom, #262626, black);
  color: white;
  height: 40px;
  line-height: 40px;
  /* HACK: This is to fix framer-motion bug, where it renders a
  component on the DOM before animnating it, but in it's initial state
  it should be hidden at position: top=-60px*/
  opacity: 0;
}

.navbar__logo {
  padding: 4px 0px;
  margin-left: 8px;
  float: left;
}

.navbar__title {
  color: white;
  float: left;
  margin: 0 8px;
  text-decoration: none;
}

.navbar__menu {
  float: right;
  margin-right: 4px;
}

.navbar__link {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
}

.navbar__link:hover {
  filter: brightness(2);
}

.navbar__link--color {
  color: darkcyan;
}

.navbar__hamburger {
  display: none;
  float: right;
  font-size: 30px;
  margin-right: 8px;
  width: 28px;
}

.navbar__border {
  display: hidden;
}

#navbarToggle {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbar__menu {
    display: none;
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    height: -webkit-fill-available;
  }

  .navbar__link {
    backdrop-filter: blur(5px);
    border-bottom: 1px solid darkslategrey;
    display: block;
    font-size: 32px;
    line-height: 80px;
    margin: 0;
    padding: 0;
    user-select: none;
  }

  .navbar__border {
    margin-top: 10px;
    border-top: 1px solid darkslategrey;
  }

  .navbar__hamburger {
    display: block;
    cursor: pointer;
  }

  #navbarToggle:checked ~ .navbar__menu {
    display: block;
    position: absolute;
    top: 40px;
    z-index: 100;
  }
}
