.error__main {
  background: black;
  height: calc(100% - 50px);
  padding-top: 10px;
  width: 100%;
  opacity: 0; /* framer-motion bug */
}

.error__quokka {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
