.container {
  background-color: blue;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.container p {
  color: white;
  font-family: Impact;
  font-size: 300%;
}
